 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #9d9e9e;

} 

body {

    background-image: url("hypnotize.png");
}

.jumbotron {
     background-image:url("dust_scratches.png");
    border: 3px solid #66faee;
    background-color: #66faee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.lead {
    font-size: 16px;
}

#add-stock {

        background-color: #b8b8b8;
        color: white;
        border: 2px solid #66faee;
        height: 40px;
        width: 180px;
        font-size: 20px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.stock-btn {
    background-color: #b8b8b8;
    color: white;
    border: 2px solid #66faee;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*#stock-info {
    border: 3px solid #66faee;
}*/

.stock {
    border: 2px solid #66faee;
    padding: 20px;

}

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.prices {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#9d9e9e;
    font-size: 16px;
    text-decoration-style: wavy;
}

#stock-info {
    background-color: #fffefe;
}

.card-header {
    color:  #9d9e9e;
    background-image:url("dust_scratches.png");
    border: 1px solid #66faee;
}

a {
    color: #66faee;
}

#fav-stock {
background-color: #b8b8b8;
color: white;
border: 2px solid #66faee;
height: 40px;
width: 180px;
font-size: 20px;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}